html {
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}
h1,h2,h3,h4,h5,h6 {
  margin: 3em 0 1em;
  font-family: sans-serif;
}

p,ul,ol {
  margin-bottom: 2em;
  color: #1d1d1d;
  font-family: sans-serif;
}

.brighter {
    color: #DDDDDD
}

/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
body {
    background-color: #228b22;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

