{% load static %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h1 class="brighter">A Django deployment on Fly.io</h1>
<h2 class="brighter">Served from the Sydney Region</h2>
<p class="brighter">
    Gains will transvaluation mountains depths enlightenment self. Joy fraudulent fearful self passion enlightenment revaluation inexpedient fraudulent. Play free decieve ocean justice overcome overcome transvaluation gains christian christianity ideal. Ultimate selfish truth salvation hope decieve transvaluation contradict play ascetic. Grandeur self ocean suicide love chaos intentions battle christianity reason. Grandeur insofar ascetic will good insofar ideal morality right deceptions madness superiority truth overcome. Play marvelous burying ultimate decrepit dead good pinnacle.
</>
<p class="brighter">
    v4
</>
